<nav class="navbar">
    <a href="/" class="logo">
        <span class="material-icons logo-icon">hotel</span>
        Hotellerie
    </a>

    <ul class="nav-links">
        <li class="nav-item">
            <a href="/hotels" class="nav-link">
                <span class="material-icons">hotel</span>
                Hôtels
            </a>
        </li>


        <li class="nav-item">
            <a href="/evenements" class="nav-link">
                <span class="material-icons">event</span>
                Événements
            </a>
        </li>
       
     
        
        <li class="nav-item">
            <a href="/historique" class="nav-link">
                <span class="material-icons">book</span>
                Mes Réservations
            </a>
        </li>

        <li class="nav-item">
            <a href="/profile" class="nav-link">
                <span class="material-icons">account_circle</span>
                Mon Profil
            </a>
        </li>

        <mat-divider [vertical]="true"></mat-divider>

        <li class="nav-item">
            <a href="/login" class="nav-link">
                <span class="material-icons">logout</span>
                Logout
            </a>
        </li>
         
    
    </ul>
</nav>