<nav class="navbar" >
    <a href="/" class="logo">
        <span class="material-icons logo-icon">hotel</span>
        L'Étoile Hôtelière
    </a>

    <ul class="nav-links">
        <li class="nav-item">
            <a href="/hotels" class="nav-link">
                <span class="material-icons">hotel</span>
                Hôtels
            </a>
        </li>


        <li class="nav-item">
            <a href="/evenements" class="nav-link">
                <span class="material-icons">event</span>
                Événements
            </a>
        </li>
       
     
        
        <li class="nav-item" *ngIf="user">
            <a href="/historique" class="nav-link">
                <span class="material-icons">book</span>
                Mes Réservations
            </a>
        </li>

        <li 
        class="nav-item dropdown" 
        *ngIf="user" 
        [class.show]="isDropdownOpen"
      >
        <a 
          class="nav-link dropdown-toggle" 
          role="button" 
          (click)="toggleDropdown()" 
          style="cursor: pointer;"
        >
          <span class="material-icons">account_circle</span>
          {{ user.nom || user.email || 'Profil' }}
        </a>
        <ul 
          class="dropdown-menu" 
          [class.show]="isDropdownOpen" 
          aria-labelledby="dropdownMenuButton"
          style="position: absolute; top: 100%; left: 0; background-color: white; border: 1px solid #ccc; list-style: none; padding: 0; margin: 0; z-index: 1000;"
        >
          <li>
            <a class="dropdown-item" href="/profil">Profil</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="logout()">Déconnexion</a>
          </li>
        </ul>
      </li>
        <mat-divider [vertical]="true"*ngIf="!user"></mat-divider>

        <li class="nav-item" *ngIf="!user">
            <a href="/login" class="nav-link">
                <span class="material-icons">login</span>
               Connexion
            </a>
        </li>
         
    
    </ul>
</nav>