<div class="login-container">
  <div class="login-left">
    <h2> Connexion 👋</h2>
    <!-- <p>How do I get started?</p> -->
    <button class="btn btn-google">Continuer avec Google</button>
    <button class="btn btn-apple">Continuer avec Apple</button>
    <!-- <p>or Login with Email</p> -->

    <!-- Formulaire de connexion -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" placeholder="Entrez votre email" />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <small *ngIf="loginForm.get('email')?.hasError('required')">L'email est requis.</small>
        <small *ngIf="loginForm.get('email')?.hasError('email')">L'email n'est pas valide.</small>
      </div>

      <label for="password">Mot de passe</label>
      <input id="password" formControlName="password" type="password" placeholder="Entrez votre mot de passe" />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small *ngIf="loginForm.get('password')?.hasError('required')">Le mot de passe est requis.</small>
        <small *ngIf="loginForm.get('password')?.hasError('minlength')">Le mot de passe doit comporter au moins 6 caractères.</small>
      </div>

      <button type="submit" class="btn btn-signin">Connexion</button>
    </form>

    <!-- Message d'erreur global -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <p>Vous n'avez pas de compte ? <a href="">S'inscrire</a></p>
  </div>

  <div class="login-right">
    <div class="login-info">
      

      <img src="assets/rec.avif" alt="Dashboard example">
    </div>
  </div>
</div>
