<div class="welcome-container">
 
    <section class="hero-section">
      <div class="hero-overlay"></div>
      <div class="hero-content">
        <div class="logo-container">
          <span class="logo-icon">HÖTELIA</span>
          
        </div>
        <h2 class="hero-subtitle">Votre évasion commence ici</h2>
        
        <div class="search-container">
          <!-- <mat-form-field appearance="fill"> 
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
           -->
          <button mat-raised-button class="explore-btn"  routerLink="/hotels">
              Explorer            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </section> 
    <section class="features-section">
      <h3 class="section-title">Pourquoi choisir Hôtelia ?</h3>
      
      <div class="features-grid">
        <div class="feature-card">
          <mat-icon class="feature-icon">verified_user</mat-icon>
          <h4>Sécurité garantie</h4>
          <p>Paiements sécurisés et données cryptées</p>
        </div>
        
        <div class="feature-card">
          <mat-icon class="feature-icon">local_offer</mat-icon>
          <h4>Meilleurs prix</h4>
          <p>Garantie du prix le plus bas</p>
        </div>
        
        <div class="feature-card">
          <mat-icon class="feature-icon">support_agent</mat-icon>
          <h4>Support 24/7</h4>
          <p>Assistance permanente</p>
        </div>
      </div>
    </section>
  
  </div>
  <app-footer></app-footer>